<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Shows Main Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'srshows_app/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'srshows_app/css/style.css' %}">
</head>

<body>
    <table class="table table-striped all-shows-table">
        <thead>
            <div class="jumbotron">
                <h1>All Shows</h1>
            </div>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Network</th>
                <th scope="col">Release Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for show in shows %}
            <tr>
                <td>{{show.id}}</td>
                <td>{{show.title}}</td>
                <td>{{show.network}}</td>
                <td>{{show.release_date}}</td>
                <td><a href="shows/{{show.id}}">Show</a> | <a href="shows/{{show.id}}/edit">Edit</a> | <a href="shows/{{show.id}}/delete">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/shows/new" class="badge badge-primary">Add a New Show</a>
</body>

</html>