Assignment Checklist - Python.pdf
commands.txt
Project Proposal Requirements.pdf
Week_5/django_full_stack/dojo_parks/
Week_5/django_full_stack/dojo_parks_eric/
Week_5/django_full_stack/belt_exam/
Week_5/django_full_stack/belt_exam_proj/
Week_5/django_full_stack/Snippets.txt