<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'belt_exam_app/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'belt_exam_app/css/style.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="top-nav d-flex p-1" style="background-color: #4267b2;color: white">
            <div class="p-2 mr-auto">Welcome {{registered_user.first_name}}! Edit your trip!</div>
            <div class="p-2">
                <a href="/logout" style="color: white">Log Out</a>
            </div>
        </div>

        <div class="main mt-3">
            <form action="/processedittrip/{{trip.id}}" method="POST">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="destination" class="col-2 col-form-label col-form-label">Destination:</label>
                    <div class="col-5">
                        <input type="text" class="form-control" id="colFormLabel" name="destination" value={{trip.destination}}>
                        {% for message in messages %}
                        {% if message.extra_tags == "destination-blank" %}
                        <li style="list-style: none; color:red">{{ message }}</li>
                        {% elif message.extra_tags == "destination-length" %}
                        <li style="list-style: none; color:red">{{ message }}</li>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="date" class="col-2 col-form-label col-form-label">Start Date:</label>
                    <div class="col-3">
                        <input type="date" class="form-control" id="colFormLabel" name="start_date" value="{{start_date|date:'Y-m-d'}}">
                        {% for message in messages %}
                        {% if message.extra_tags == "blank" %}
                        <li style="list-style: none; color:red">{{ message }}</li>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="date" class="col-2 col-form-label col-form-label">End Date:</label>
                    <div class="col-3">
                        <input type="date" class="form-control" id="colFormLabel" name="end_date" value="{{end_date|date:'Y-m-d'}}">
                        {% for message in messages %}
                        {% if message.extra_tags == "blank" %}
                        <li style="list-style: none; color:red">{{ message }}</li>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="plan" class="col-2 col-form-label col-form-label">Plan:</label>
                    <div class="col-5">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="plan" >{{trip.plan}}</textarea>
                        {% for message in messages %}
                        {% if message.extra_tags == "blank" %}
                        <li style="list-style: none; color:red">{{ message }}</li>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
        </div>
        <a href="/success" class="btn btn-primary offset-4">Go Back</a>
        <button class="btn btn-primary">Update an Event</button>
        </form>
    </div>
</body>

</html>