<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'belt_exam_app/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'belt_exam_app/css/style.css' %}">
    <title>Success</title>
</head>

<body>
    <div class="container">
        <div class="top-nav d-flex p-1" style="background-color: #4267b2;color: white">
            <div class="p-2 mr-auto">Welcome {{registered_user.first_name}}!</div>
            <div class="p-2">
                <a href="/trips/new" class="btn btn-primary pt-0 pb-0 pr-3 pl-3 m-0" style="color: white">Create a new trip</a>
            </div>
            <div class="p-2">
                <a href="/logout" style="color: white">Log Out</a>
            </div>
        </div>
        <h2 class="pt-3">Your Trips:</h2>
        <div class="row">
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th scope="col">Location</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Plan</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for trip in all_trips %}
                    {% if trip.created_by_id == registered_user.id %}
                    <tr>
                        <td><a href="/trips/{{trip.id}}">{{trip.destination}}</a></td>
                        <td>{{trip.start_date}}</td>
                        <td>{{trip.end_date}}</td>
                        <td>{{trip.plan}}</td>
                        <td><a href="/trips/{{trip.id}}/remove">Remove</a> | <a href="/trips/edit/{{trip.id}}">Edit</a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% for trip in user_trips %}
                    <tr>
                        <td><a href="/trips/{{trip.id}}">{{trip.destination}}</a></td>
                        <td>{{trip.start_date}}</td>
                        <td>{{trip.end_date}}</td>
                        <td>{{trip.plan}}</td>
                        <td><a href="/trips/{{trip.id}}/cancel">Cancel</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h2 class="pt-3">Other People's Trips:</h2>
        <div class="row">
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th scope="col">Location</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Plan</th>
                        <th scope="col">Want to join?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for trip in all_trips %}
                    {% if user.id != trip.created_by_id and trip not in user_trips %}
                    <tr>
                        <td><a href="/trips/{{trip.id}}">{{trip.destination}}</a></td>
                        <td>{{trip.start_date}}</td>
                        <td>{{trip.end_date}}</td>
                        <td>{{trip.plan}}</td>
                        <td>
                            <form action="/processjoin/{{trip.id}}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-primary">Join Event</button>
                            </form>
                        </td>
                        {#{% endif %}#}
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</body>

</html>