<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'books_authors_app/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'books_authors_app/css/style.css' %}">
    <title>Books</title>
</head>

<body>
    <div class="container">
        <h1>Add a Book</h1>
        <form action="/addbook" method="POST" class="book-title-desc">
            {% csrf_token %}
            <div class="form-group row">
                <label for="title" class="col-sm-5 col-form-label">Title</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="title" placeholder="Title">
                </div>
            </div>
            <div class="form-group row">
                <label for="desc" class="col-sm-5 col-form-label">Description</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="desc" placeholder="Description">
                </div>
            </div>
            <input type="submit" class="btn btn-primary" name='add-btn' value="Add">
        </form>
        <table class="table table-striped book-table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for key in book %}
                <tr>
                    <td>{{key.id}}</td>
                    <td>{{key.title}}</td>
                    <td><a href="/books/{{ key.id }}">View</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</body>

</html>