<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'fav_book_app/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'fav_book_app/css/style.css' %}">
    <title>Books</title>
</head>

<body>
    <div class="container container_wall p-0">
        <div class="top-nav d-flex" style="background-color: #4267b2;color: white">
            <div class="p-2 mr-auto">Welcome {{registered_user.first_name}}!</div>
            <div class="p-2">
                <a href="/logout" style="color: white">Log Out</a>
            </div>
        </div>
        <div class="main d-flex justify-content-around"
            style="background: linear-gradient(to right, #d9a7c7, #fffcdc);">
            <div class="add-book col-md-5 d-inline-block">
                <h1 class="text-center">Add a favorite book</h1>
                <form action="/processaddbook" method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="book-title" class="col-sm-4 col-form-label">Title</label>
                        <div class="col-sm-8">
                            <input type="text" name="book-title" class="form-control" placeholder="Title">
                            {% for message in messages %}
                            {% if message.extra_tags == "book-title" %}
                            <li style="list-style: none">{{ message }}</li>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-sm-4 col-form-label">Description</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="description" name="description" rows="5"></textarea>
                            {% for message in messages %}
                            {% if message.extra_tags == "description" %}
                            <li style="list-style: none">{{ message }}</li>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-light" name='create-btn' value="Add" style="color: #0062cc">
                    </div>
                </form>
            </div>
            <div class="book-info col-md-5 d-inline-block align-top justify-content-end">
                <h1 class="text-center">All Books</h1>
                {% for book in books %}
                <div class="card text-center">
                    <h5><a href="/books/{{book.id}}">{{book.title}}</a></h5>
                    <p>(added by {{book.uploaded_by.first_name}} {{book.uploaded_by.last_name}})</p>
                    {% if book not in registered_user.liked_books.all %}
                    <a href="addfavoritemain/{{book.id}}">Add to Favorites</a>
                    {% else %}
                    <p class="font-italic">this is one of your favorites</p>
                    {% endif %}
                    {% endfor %}
                </div>

            </div>
        </div>

</body>

</html>