.registration {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    width: 50%;
    background: linear-gradient(45deg, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
}

.login {
    display: inline-block;
    vertical-align: top;
    /* background: linear-gradient(135deg, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); */
    background: linear-gradient(135deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
    width: 50%;
    padding:10px;   
}

.content {
    background-color: #f2f3f5 !important;
}

.container_wall {
    background-color: #e9ebee !important;
}

.post_header {
    background-color: #e9ebee !important;
}

.card_background {
    background-color: #e9ebee !important;
}

/* .main-book-info {
    background: linear-gradient(135deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
} */