.container {
    margin-top: 100px;
    text-align: center;
    padding: 25px;
    background-image: linear-gradient(#6782B4,#B1BFD8)
}
.box1 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    margin-bottom: 5px;
    background-image: linear-gradient(Crimson,darkred)
}

.box2 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    background-image: linear-gradient(LightYellow,darkorange)

}

.box3 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    background-image: linear-gradient(DeepSkyBlue,blue)
}

.box4 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    background-image: linear-gradient(violet, Purple)
}

.header {
    padding: 5px;
}

.gold_table {
    vertical-align: top;
    display: inline-block;
    margin-bottom: 3px;
    padding-top: 5px;
    color: white;
}


.clear-btn{
    display: inline-block;
    width: 50px;
}
.activity_text {
    color: white;
    margin: 5px;
    
}

.activities {
    width: 820px;
    height: 110px;
    overflow: scroll;
    text-align: left;
    margin-left: 135px;
    /* overflow-anchor: auto; */
    border: 1px solid black;
}

.btn-success {
    color:gold;
}
