<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'poorly_coded_store/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'poorly_coded_store/css/style.css' %}">
    <title>Amadon</title>
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Thank you for your business!</h4>
                <p class="card-text">We charged your credit card for ${{ last.total_price }}</p>
                <p class="card-text">You have ordered {{quant}} items so far and spent $$ {{total_p}} with Amadon.com!</p>
                
                <a href="/" class="btn btn-primary">Go Back</a>
            </div>
        </div>
    </div>
</body>

</html>