<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'user_dashboard_app/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'user_dashboard_app/css/style.css' %}">
    <title>Welcome</title>
</head>

<body>
    <div class="container">
        <div class="top-nav d-flex" style="background-color: #4267b2;color: white">
            <div class="p-2 mr-auto"><a href="/" style="color: white">Home</a></div>
            <div class="p-2">
                <a href="/logout" style="color: white">Log Out</a>
            </div>
        </div>
        <div class="jumbotron">
            <h1>Welcome to Test</h1>
        </div>
    </div>
</body>

</html>