<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'got_app/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'got_app/css/style.css' %}">
    <title>Edit</title>
</head>

<body>
    <div class="container">
        <div class="top-nav d-flex bg-warning">
            <div class="p-2 mr-auto">
                <h1>Got GOT?</h1>
            </div>
            <div class="p-2">
                <a href="/dashboard">Dashboard</a>
            </div>
            <div class="p-2">
                <a href="/events">Upcoming Shows</a>
            </div>
            <div class="p-2">
                <a href="/logout">Log Out</a>
            </div>
        </div>

        <div class="main">
            <h2>Edit Event</h2>
            <form action="/processeditevent/{{event.id}}" method="POST">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="title" class="col-2 col-form-label col-form-label">Title</label>
                    <div class="col-5">
                        <input type="text" class="form-control" id="colFormLabel" name="title" value="{{event.title}}">
                        {% for message in messages %}
                        {% if message.extra_tags == "title" %}
                        <li style="list-style: none; color:red">{{ message }}</li>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="genre" class="col-2 col-form-label">Genre</label>
                    <div class="col-5">
                        <select class="selectpicker form-control" name=genre>
                            <option value="" disabled selected>Pick an Genre</option>
                            {#{% for author in authors %}#}
                            {#<option value="Author{{author.id}}">{{author.name}}</option>#}
                            {#{% endfor %}#}
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                        {% for message in messages %}
                        {% if message.extra_tags == "genre" %}
                        <li style="list-style: none; color:red">{{ message }}</li>
                        {% endif %}
                        {% endfor %}
                    </div>

                </div>
                <div class="form-group row">
                    <label for="date" class="col-2 col-form-label col-form-label">When</label>
                    <div class="col-5">
                        <input type="date" class="form-control" id="colFormLabel" name="date" value="{{event.event_date}}">
                        {% for message in messages %}
                        {% if message.extra_tags == "date" %}
                        <li style="list-style: none; color:red">{{ message }}</li>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="location" class="col-2 col-form-label col-form-label">Location</label>
                    <div class="col-5">
                        <input type="text" class="form-control" id="colFormLabel" name="location"
                            value={{event.location}}>
                    </div>
                </div>
                <button class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</body>

</html>