<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add New Show</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'srshows_app/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'srshows_app/css/style.css' %}">
</head>

<body>
    <div class="container text-left">
        
        <div class="jumbotron d-flex justify-content-between">
            <h1>Add a New Show</h1></h1>
            <a class="d-inline-block text-right" href="/allshows">Go Back to All Shows</a>
        </div>
        <form action="/shows/create" method="POST">
            {% csrf_token %}
            <div class="form-group col-md-12" style="padding:0px">
                <label for="title">Title</label> <br>
                <input type="text" class="form-control" placeholder="Title" name="title">
            </div>
            <div class="form-row form-inline">
                <div class="form-group col-md-6">
                    <label for="network" style="margin-right: 10px">Network</label>
                    <input type="text" class="form-control" name="network" placeholder="Network">
                </div>
                <div class="form-group col-md-6">
                    <label for="release_date" style="margin-right: 10px">Release Date</label>
                    <input type="date" name="release_date">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="description">Description:</label>
                    <textarea class="form-control" id="description" name="description" rows="5"></textarea>
                </div>
            </div>
            <div class="text-center">
                <input type="submit" class="btn btn-primary" name='create-btn' value="Create">
            </div>
        </form>
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li class = messages>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>

</body>

</html>